[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu121"
verify_ssl = false
name = "pytorch"

[packages]
torch = {version="*", index="pytorch"}
torchvision = "*"
torchaudio = "*"
scikit-image = "*"
matplotlib = "*"
wandb = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = true
